<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

    <title>Email</title>
</head>
<body>
<div class="container ">
    <div>
        <table style="width:100%;">
            <tbody>
            <tr>
                <td align="center" style="padding:20px 2px 20px 2px">
                    <table style="width:100%;max-width:600px;background: white" border="0"
                           cellpadding="0" cellspacing="0">


                        <tbody>
                        <tr th:if="${template.getHeaderImageUrl != null}">
                            <td style="text-align: center;">
                                <img height="90px" th:src="${template.getHeaderImageUrl()}" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <p style="margin-top: 20px;">
                                    <span
                                        th:text="${date}"></span></p>

                            </td>
                        </tr>
                        <tr th:if="${templateEmailDTO.getRecipientAddress() != null}">
                            <td style="text-align: left">

                                <span th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(templateEmailDTO.getRecipientAddress()),'\n','&lt;br /&gt;'))}"></span>


                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <p style="margin-top: 20px;font-weight: bold"><span
                                        th:text="${templateEmailDTO.getSubject()}"></span></p>

                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <p style="margin-top: 20px">Dear <span
                                        th:text="${templateEmailDTO.getFullName()}"></span></p>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p style="text-align: left">
                                    Praesent sapien massa, convallis a pellentesque nec,
                                    egestas non nisi. Nulla quis lorem ut libero malesuada
                                    feugiat. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Donec rutrum congue leo eget malesuada.
                                    Curabitur non nulla sit amet nisl tempus convallis quis
                                    ac lectus.
                                </p>

                                <p style="text-align: left">
                                    Pellentesque in ipsum id orci porta dapibus. Praesent
                                    sapien massa, convallis a pellentesque nec, egestas non
                                    nisi. Cras ultricies ligula sed magna dictum porta.
                                    Praesent sapien massa, convallis a pellentesque nec,
                                    egestas non nisi. Proin eget tortor risus.
                                </p>

                                <p style="text-align: left">
                                    Sed porttitor lectus nibh. Praesent sapien massa, convallis a
                                    pellentesque nec, egestas non nisi. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
                                    Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                                </p>

                                <p style="text-align: left">
                                    Pellentesque in ipsum id orci porta dapibus. Cras ultricies ligula sed magna
                                    dictum porta. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id
                                    dui posuere blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                                <p style="text-align: left">
                                    Nulla quis lorem ut libero malesuada feugiat. Cras ultricies ligula sed magna
                                    dictum porta. Curabitur aliquet quam id dui posuere blandit. Vivamus suscipit tortor eget
                                    felis porttitor volutpat
                                    . Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                                </p>


                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <span th:utext="${#strings.unescapeJava(#strings.replace(#strings.escapeJava(template.getSignature()),'\n','&lt;br /&gt;'))}"></span>


                            </td>
                        </tr>
                        <tr th:if="${template.getFooterImageUrl() != null}">
                            <td style="text-align: center;">
                                <img height="90px" th:src="${template.getFooterImageUrl}" />
                            </td>
                        </tr>


                        </tbody>
                    </table>

                </td>
            </tr>


            </tbody>
        </table>

    </div>
</div>
</body>
</html>